.footer {
    background: linear-gradient(180deg, #0e3cf600 0%, #0e3cf69a 100%);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.footer-logo img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.footer-logo p {
    font-size: 1.2em;
    font-weight: bold;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}